<h2>Artists</h2>
<h2><%= link_to "Add New Artist", new_artist_path %></h2>

<% @artists.each do |artist| %>
  <%= link_to artist.name, artist_path(artist) %>
  <%= image_tag artist.photo_url %>
<% end %>
