<h2>My Artists</h2>

<% @artists.each do |artist| %>
  <div class="imagegrid">

    <%= link_to (image_tag artist.photo_url, class: 'artistPhoto', alt: "Photo of #{artist.name}" ), artist_path(artist) %>
    <%= link_to artist.name, artist_path(artist), class: "nameDisplay" %>

  </div>
<% end %>
<%= link_to image_tag('newArtist.jpg', class: 'newArtist'), new_artist_path %>
