/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  font-weight: bolder;
  font-size: 3em;
  color: #000000;
  background: #ffff00;
  padding:1em;
  background-image: url("bg.jpg");
  background-repeat: repeat-x;
}

 .imagegrid {
   position: relative;
   width: 100%;
 }

.nameDisplay {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 100%;
  z-index: 10;
  font-weight: bolder;
}

 .artistPhoto {
  position: static;
  width: 200px;
  padding: 1em;
}

 body{
 background: #000000;
 color: #ffffff;
 }


.artistheader {
  height: 200px;
}

.artistImages {
  padding: 1em;
  height: 175px;
}

.newImage {
  padding-bottom: 1em;
  height: 175px;
}

.newArtist {
  padding-left: 1em;
  width: 200px;
}

.indivImages {
  width: 75%;
}

.devise {
  float: right;
  position: relative;
  margin-top: -3%;
  margin-left: 90%;
}

a:link {
  color: #ffff00;
}

a:visited {
  color: #ffff00;
}
